.CorpFin {
  overflow-wrap: break-word;
/*  overflow-y: scroll;*/
  display: flex;
  flex-direction: column;
/*  padding-top: 5.5em;*/
  padding-left: 5vw;
  padding-right: 5vw;
/*  background-color: red;*/
}

.heading1 {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

.heading2 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
}

.CorpFin-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.CorpFin-sublink {
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.inline-link {
  display: inline;
  text-decoration: none;
  color: var(--primary-color);
}

.inline-link:hover {
  color: var(--accent-color);
}

.CorpFin-content {
  text-decoration: none;
  color: var(--primary-color);
  padding: 2px;
}

.content-group {
  padding: 10px;
}

.input-bars {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.CorpFin-link:hover {
  color: var(--accent-color);
}

.CorpFin-sublink:hover {
  color: var(--accent-color);
}

.text {
	overflow-wrap: break-word;
	padding-left: 1em;
}

.graph-button {
  margin-bottom: 1em;
}

.graph-button-active {
  margin-bottom: 1em;
  background-color: black;  /* Change background when clicked */
  color: white;             /* Change text color */
  border-color: black;
}

.table-row {
  text-align: center; 
}

.table-entry {
  text-align: center;
  vertical-align: middle;
}

.table-group-header {
  background-color: #b9c4ce;
  font-weight: bold;
/*  border: 2px solid #ffffff;*/
}

.table-column-label {
  background-color: #ced9e3;
/*  border: 2px solid #ffffff;*/
  font-weight: bold;
}

.table-entry-head {
  border: 2px solid #ffffff;
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.my-table {
  margin: 0 auto;
  border-collapse: collapse; /* optional styling */
  min-width: 600px; /* optional: can force scroll when needed */
}
