.Mortgages {
  overflow-wrap: break-word;
/*  overflow-y: scroll;*/
  display: flex;
  flex-direction: column;
/*  padding-top: 5.5em;*/
  padding-left: 5vw;
  padding-right: 5vw;
/*  background-color: red;*/
}


.graph-container {
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-padding {
  padding-right: 0em;
}

@media (max-width: 870px) { /* Adjust breakpoint as needed */
  .graph-container {
    flex-direction: column; /* Change to column on small screens */
    align-items: center; /* Center children when stacked */
  }
}

@media (max-width: 870px) { /* Adjust breakpoint as needed */
  .input-container {
    flex-direction: row; /* Change to row on small screens */
    align-items: space-between;
  }
}

@media (max-width: 870px) { /* Adjust breakpoint as needed */
  .button-padding  {
    padding-right: 5em;
  }
}

.math-container {
  overflow-y: hidden;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents equation from breaking into multiple lines */
  max-width: 100%; /* Ensures it fits within the parent container */
}

.toc-list {
  list-style: none;
}

.heading1 {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

.heading2 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
}

.Mortgages-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.inline-link {
  display: inline;
  text-decoration: none;
  color: var(--primary-color);
}

.inline-link:hover {
  color: var(--accent-color);
}

.Mortgages-content {
  text-decoration: none;
  color: var(--primary-color);
  padding: 2px;
}

.content-group {
  padding: 10px;
}

.input-bars {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.Mortgages-link:hover {
  color: var(--accent-color);
}

.text {
	overflow-wrap: break-word;
	padding-left: 1em;
}

.graph-button {
  margin-bottom: 1em;
}

.graph-button-active {
  margin-bottom: 1em;
  background-color: black;  /* Change background when clicked */
  color: white;             /* Change text color */
  border-color: black;
}

.table-row {
  text-align: center; 
}


.table-entry {
  text-align: center;
  vertical-align: middle;
  padding: .25em;
}

.table-entry-new {
  text-align: center;
  vertical-align: middle;
  padding: .25em;
  padding-top: 1em;
}

.table-group-header {
  background-color: #b9c4ce;
  font-weight: bold;
/*  border: 2px solid #ffffff;*/
}

.table-column-label {
  background-color: #ced9e3;
/*  border: 2px solid #ffffff;*/
  font-weight: bold;
}

.table-entry-head {
  border: 2px solid #ffffff;
}

.table-entry-head-empty {
  background-color: var(--background-color);
  border: none;
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.my-table {
  margin: 0 auto;
  border-collapse: collapse; /* optional styling */
  min-width: 600px; /* optional: can force scroll when needed */
}

