@import './variables.css';

/* Other global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  padding: 2rem;
  margin-top: 60px; /* Adjust this if your navbar height is different */
}