:root {
  --primary-color: #5D737E; /* Replace with your primary color */
  --secondary-color: #83A6B8; /* Replace with your secondary color */
  --accent-color: #D0CFCF; /* Replace with your accent color */
  --background-color: #FFFFFF; /* Example background color */
  --text-color: #0F0F0F; /* Example text color */
}